.content {
    padding: 24px;
}

@media (max-width: 833px) {
    .content {
        padding: 24px 16px;
    }
}

.box {
    display: block;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
    padding: 24px;
}

@media (max-width: 833px) {
    .box {
        padding: 16px;
    }
}

.content__list-wrapper {
    width: 752px;
    height: 216px;
    margin-bottom: 24px;
}

@media (max-width: 834px) {
    .content__list-wrapper {
        width: 100%;
        height: max-content;
    }
}

.content__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--primary-light-9);
}

@media (max-width: 833px) {
    .content__list {
        line-height: 132%;
    }
}

.content__tagline {
    width: 752px;
    height: 126px;
    margin-bottom: 16px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

@media (max-width: 834px) {
    .content__tagline {
        width: 100%;
        height: max-content;
    }
}

.content__nav {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

@media (max-width: 833px) {
    .content__nav {
        flex-direction: column;
        row-gap: 8px;
    }
}

.nav__block {
    width: 240px;
    padding: 0;
}

@media (max-width: 833px) {
    .nav__block {
        width: 100%;
    }
}

.block__title {
    display: block;
    width: 100%;
    height: 45px;
    padding: 12px 24px;
    margin: 0;
    text-align: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

@media (max-width: 1439px) {
    .block__title {
        height: max-content;
        text-align: left;
    }
}

@media (max-width: 833px) {
    .block__title {
        height: max-content;
        text-align: center;
    }
}

.block__content {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
}

.block__icon {
    width: 14px;
    height: 14px;
}

.nav__block:not(:last-child) svg>path {
    fill: var(--primary-light-6);
}

.nav__block:last-child svg>path:not(:nth-child(2)) {
    fill: var(--primary-light-6);
}

.nav__block:last-child svg>path:nth-child(2) {
    fill: none;
}

@media (max-width: 1439px) {
    .block__icon {
        width: 12px;
        height: 12px;
    }
}

.block__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
    margin: 0;
    margin-left: 8px;
}
