.joint-training__invites-section,
.joint-training__add-training-card {
    background: var(--character-light-table-header);
}

.joint-training__invites-section {
    padding: 16px 24px 24px;
    margin-bottom: 24px;
}

.invites-section__new-messages {
    color: var(--character-light-secondary-45);
    margin-bottom: 16px;
}

.invites-section__show-btn {
    width: 200px;
    padding: 0;
    line-height: var(--line-height);
    text-align: center;
    color: var(--primary-light-6);
}

.invites-section__show-btn svg {
    margin-right: 10px;
}

.joint-training__add-training-card {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--button-border-auth);
    border-radius: var(--border-radius);
}

.add-training-card__title {
    margin: 24px 0;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--line-height);
    text-align: center;
    color: var(--primary-light-9);
}

.add-training-card__subtitle {
    width: 80%;
    margin-bottom: 24px;
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-secondary-45);
}

.add-training-card__divider {
    margin: 0;
}

.add-training-card__buttons-wrapper {
    width: 78%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--flex-gap-small);
}

.add-training-card__buttons-wrapper>button {
    width: 50%;
    height: 32px;
}

.add-training-card__buttons-wrapper>button:first-child {
    color: var(--primary-light-6);
}

.participants-section__title {
    margin-bottom: 12px;
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: var(--line-height);
}

.participants-section__subtitle {
    margin: 0;
    color: var(--character-light-secondary-45);
}

.participants-section__pals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--flex-gap-small);
}

.pals__pal-card {
    width: 234px;
    height: max-content;
    padding: 12px;
    display: flex;
    flex-direction: column;

    border: var(--button-border-auth);
    border-radius: var(--border-radius);
    background: var(--character-light-primary-inverse);
}

.pals__pal-card div:nth-child(2) {
    margin: 0;
}
