.achievements__plain-section {
    padding: 12px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1400px) {
    .achievements__plain-section {
        margin-bottom: 24px;
    }
}

.plain-section__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 95px;
}

@media (max-width: 800px) {
    .plain-section__row {
        gap: 74px;
    }
}

.plain-section__row p {
    margin: 0;
}

.plain-section__row p:first-child {
    width: 110px;
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
}

.plain-section__row p:nth-child(2) {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
}

@media (max-width: 800px) {
    .plain-section__row p:nth-child(2) {
        font-size: 20px;
    }
}
