.change-modal {
    padding: 64px 85.5px;
}

@media (max-width: 833px) {
    .change-modal {
        padding: 32px 16px;
    }
}

.change-modal__form {
    width: 100%;
}

.change-modal__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
    margin-bottom: 32px;
}

.change-modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--character-light-border);
    border-radius: 2px;
    margin-bottom: 0px;
}

.change-modal__password-desc {
    display: block;
    height: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
    transform: translateY(-24px);
    margin-bottom: 0px;
}

.change-modal__button {
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    margin-top: 40px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-primary-inverse);
}

.change-modal__form [class*="ant-form-item"]:last-child {
    margin-bottom: 0px;
}
