.change-modal {
    padding: 64px 85.5px;

    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

@media (max-width: 833px) {
    .change-modal {
        padding: 32px 16px;
    }
}

.change-modal__form {
    width: 100%;
}

.change-modal__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-title-85);
    margin-bottom: 32px;
}

.change-modal__button {
    width: 100%;
    height: var(--button-height);
    margin-bottom: 0;
    margin-top: 18px;
    box-shadow: var(--box-shadow-button);
    background: var(--primary-light-6);

    font-size: var(--font-size-larger);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-primary-inverse);
}

.change-modal__form [class*="ant-form-item"]:last-child {
    margin-bottom: 0;
}
