.result-modal {
    width: 539px;
    height: max-content;
    padding: 0;
    padding-top: 64px;

    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

@media (max-width: 833px) {
    .result-modal {
        width: 328px;
        padding-top: 32px;
    }
}

.result-modal__icon-wrapper {
    width: 81px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.result-modal__icon {
    font-size: 71px;
}

.result-modal__image {
    width: 255px;
    height: 294px;
    background-image: var(--error-img);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.result-modal__text-wrapper {
    margin-bottom: 24px;
}

.result-modal__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-title-85);
    margin-bottom: 0;
}

@media (max-width: 833px) {
    .result-modal__title {
        width: 296px;
    }
}

.result-modal__subtitle {
    width: 368px;
    margin-bottom: 0;
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-secondary-45);
}

@media (max-width: 833px) {
    .result-modal__subtitle {
        width: 296px;
    }
}

.result-modal__button {
    width: 368px;
    height: var(--button-height);
    margin-bottom: 64px;
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-primary-inverse);
    border: var(--button-border);
    background: var(--primary-light-6);
}

@media (max-width: 833px) {
    .result-modal__button {
        width: 296px;
        margin-bottom: 32px;
    }
}

.result-modal__button.medium {
    width: 167px;
}

.result-modal__button.small {
    width: var(--button-width-small);
}

.result-modal__button.margin {
    margin-bottom: 56px;
}

@media (max-width: 833px) {
    .result-modal__button.margin-shrink {
        margin-bottom: 32px;
    }
}
