.drawer {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

.drawer [class*="drawer-content"] {
    border-radius: var(--border-radius-drawer) 0 0 var(--border-radius-drawer);
}

@media (max-width: 800px) {
    .drawer [class*="drawer-content"] {
        border-radius: var(--border-radius-drawer-bottom) var(--border-radius-drawer-bottom) 0 0;
    }
}

.drawer [class*="drawer-body"] {
    height: 100%;
    padding: 24px 32px 12px;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

.drawer-my-page [class*="drawer-body"] {
    grid-template-rows: max-content 1fr max-content max-content;
}

@media (max-width: 800px) {
    .drawer [class*="drawer-body"] {
        padding: 24px 16px;
    }
}

.drawer__title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    font-size: 20px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
}

.drawer__title-icon svg {
    font-size: var(--font-size);
    margin-right: 10px;
}

.joint-training-pal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 32px;
}

.joint-training-pal>[class*="ant-avatar"] {
    background: var(--character-light-background);
}

.joint-training-pal img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.joint-training-pal path {
    fill: var(--character-light-title-85);
}

.joint-training-pal__name {
    margin: 0;
    margin-left: 8px;
}

.joint-training-pal__training-type {
    align-self: flex-end;
    margin-left: auto;
}

.drawer__no-date-group {
    margin-bottom: 24px;
}

.drawer__no-date-group [class*="select-show-arrow"] {
    width: 100%;
    height: var(--calendar-input-height);
    border: var(--button-border-light);
    border-radius: var(--border-radius);
    margin: 24px 0;
}

@media (max-width: 800px) {
    .drawer__no-date-group [class*="select-show-arrow"] {
        margin: 0;
        margin-bottom: 16px;
    }
}

.drawer__no-date-group [class*="select-show-arrow"]>[class*="select-selector"],
.drawer__no-date-group [class*="select-show-arrow"] [class*="select-selector"] [class*="select-selection"] {
    height: 100%;
    line-height: 26px;
    color: var(--character-light-disable-25);
}

.drawer__no-date-group [class*="select-show-arrow"] [class*="select-selector"] [class*="select-selection-item"] {
    height: 100%;
    line-height: 26px;
    color: var(--character-light-title-85);
}

.no-date-group__date {
    height: var(--calendar-input-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.no-date-group__date>[class*="ant-picker"] {
    height: 100%;
    padding-left: 4px;
    padding-right: 11px;
}

.no-date-group__date>[class*="ant-picker-disabled"] {
    background: none;
}

.no-date-group__date>[class*="ant-picker"] input[disabled] {
    color: var(--character-light-title-85);
}

.no-date-group__date>[class*="ant-picker"]>[class*="picker-input"] {
    width: 140px;
}

.no-date-group__date [class*="ant-picker-suffix"] svg>path {
    fill: var(--character-light-disable-25);
}

.no-date-group__calendar-popup {
    width: 296px;
}

@media (max-width: 800px) {
    .no-date-group__calendar-popup {
        width: 246px;
    }
}

.no-date-group__calendar-popup {
    background: var(--neutral-gray-1);
}

.no-date-group__calendar-popup [class*="picker-panel"] {
    background: transparent;
}

@media (max-width: 800px) {
    .no-date-group__calendar-popup [class*="picker-content"] th {
        width: 24px;
        height: 24px;
    }
}

.no-empty:before {
    content: "";
    display: block;
    width: 43px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-7%, 15%);
    background: var(--primary-light-1);
    z-index: -1;
}

@media (max-width: 800px) {
    .no-empty:before {
        width: 36px;
        transform: translate(-6%, 15%);
    }
}

.no-date-group__calendar-popup [class*="picker-panel"],
.no-date-group__calendar-popup [class*="picker-date-panel"],
.no-date-group__calendar-popup [class*="picker-content"] {
    width: 100%;
}

.no-date-group__calendar-popup .today::after {
    content: "";
    display: block;
    width: 32px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 10%);
    z-index: -1;
    border-radius: var(--border-radius);
    border: var(--button-border);
}

@media (max-width: 800px) {
    .no-date-group__calendar-popup .today::after {
        width: 25px;
        transform: translate(16%, 10%);
    }
}

.no-date-group__calendar-popup [class*="picker-cell"] [class*="picker-cell-inner"] {
    width: 30px;
}

.no-date-group__date [class*="checkbox-wrapper"]>span:nth-child(2) {
    padding: 0;
}

.no-date-group__date>[class*="checkbox-wrapper"]>[class*="ant-checkbox"] {
    margin-right: 8px;
}

.no-date-group__date [class*="ant-checkbox"]>[class*="ant-checkbox-inner"] {
    border: var(--button-border-light);
    border-radius: var(--border-radius);
}

.drawer__no-date-group .no-date-group__interval-select {
    width: 156px;
    margin: 0;
    border: none;
    margin-top: 8px;
}

.drawer__training-type-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 13px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
}

.drawer__training-type {
    padding-left: 0;
    list-style-type: none;
}

.drawer__training-type-wrapper li [class*="badge-status-text"] {
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
}

.drawer__form {
    height: 100%;
}

.drawer [class="ant-form"] {
    height: 100%;
}

.drawer__form-wrapper {
    height: max-content;
    max-height: calc(100vh - 180px);
    overflow-y: scroll;
    margin-bottom: auto;
    padding-right: 8px;
    margin-right: -8px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.drawer__form-wrapper-my-training {
    max-height: calc(100vh - 340px);
}

.drawer__form-wrapper-interval {
    max-height: calc(100vh - 376px);
}

.drawer__form-wrapper-edit-past {
    max-height: calc(100vh - 406px);
}

.drawer__form-wrapper-interval.drawer__form-wrapper-edit-past {
    max-height: calc(100vh - 442px);
}

@media (max-width: 800px) {
    .drawer__form-wrapper {
        max-height: 370px;
    }

    .drawer__form-wrapper-my-training {
        max-height: 240px;
    }

    .drawer__form-wrapper-interval {
        max-height: 204px;
    }

    .drawer__form-wrapper-edit-past {
        max-height: 165px;
    }

    .drawer__form-wrapper-interval.drawer__form-wrapper-edit-past {
        max-height: 129px;
    }
}

.drawer__form::-webkit-scrollbar {
    width: 8px;
}

@media (max-width: 800px) {
    .drawer__form::-webkit-scrollbar {
        width: 4px;
    }
}

.drawer__form::-webkit-scrollbar-track {
    background: transparent;
}

.drawer__form::-webkit-scrollbar-thumb {
    background: var(--character-light-disable-25);
    border-radius: 20px;
}

.drawer__form [class*="form-item"] {
    margin-bottom: 0;
}

.drawer__inputs-wrapper {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.drawer input {
    height: 100%;
    padding: 1px 0 1px 8px;
    margin: 0;
    line-height: var(--line-height);
}

.drawer [class*="ant-input-group"] {
    height: 24px;
}

.drawer [class*="ant-input-disabled"] {
    background: none;
    color: inherit;
}

.drawer__form [class*="ant-checkbox-inner"] {
    border-radius: 2px;
    border: 1px solid var(--character-light-border);
}

.drawer__inputs-wrapper {
    margin-top: 8px;
    margin-bottom: 0;
}

.drawer [class*="label"] label {
    width: 100%;
    display: inline-block;
    height: 24px;
    margin-bottom: 6px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    padding: 4px 8px;
    background: var(--character-light-dividers);
    font-size: var(--icon-size-small);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
    text-align: left;
}

@media (max-width: 800px) {
    .drawer [class*="label"] {
        padding-bottom: 0;
    }
}

.drawer__inputs-wrapper [class*="group-addon"] {
    width: 36px;
    height: 20px;
    line-height: 20px;
    padding: 0;
}

.drawer__inputs-wrapper [class*="ant-row"] {
    display: flex;
    flex-direction: column;
    height: 54px;
}

@media (max-width: 575px) {
    .drawer__inputs-wrapper [class*="ant-row"] {
        flex-direction: row;
    }
}

.drawer [class*="item-control-input"] {
    min-height: 0;
}

.drawer__inputs-wrapper>[class*="ant-form-item"],
.drawer__inputs-wrapper [class*="ant-input-number-in-form-item"] {
    width: 89px;
}

.drawer__form [class*="input-wrap"]:focus,
.drawer__form [class*="input-wrap"]:hover,
.drawer__form [class*="input-wrap"]:active,
.drawer [class="ant-input"]:focus,
.drawer [class="ant-input"]:hover,
.drawer [class="ant-input"]:active,
.no-date-group__date>[class*="ant-picker"]:focus,
.no-date-group__date>[class*="ant-picker"]:hover,
.no-date-group__date>[class*="ant-picker"]:active {
    border: 1px solid var(--primary-light-6);
}

.drawer__inputs-wrapper>[class*="ant-form-item"]:first-child {
    width: 120px;
    margin-right: auto;
}

.drawer__inputs-wrapper>[class*="ant-form-item"]:first-child [class*="ant-input-number-in-form-item"] {
    width: 85px;
}

.drawer__inputs-wrapper input::-webkit-outer-spin-button,
.drawer__inputs-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.drawer__x {
    height: 20px;
    margin: auto 3px 0;
    font-size: 12px;
    color: var(--character-light-disable-25);
}

.drawer__button-wrapper {
    border-radius: 0 0 6px 6px;
    border: none;
    width: 100%;
    height: var(--button-height);
    background: var(--character-light-dividers);
    display: flex;
    flex-direction: row;
}

.drawer__button-wrapper>[class*="form-item"] {
    width: 100%;
    height: 100%;
    color: var(--primary-light-6);
}

.drawer__button {
    width: 100%;
    padding: 0 12px;
    height: var(--button-height);
    line-height: var(--line-height);
    color: inherit;
    text-align: left;
}

.edit .drawer__button {
    text-align: center;
}

.drawer__button-wrapper>[class*="form-item"]:nth-child(2) {
    color: var(--character-light-title-85);
}

.drawer__warning {
    width: 260px;
    height: max-content;
    margin: 24px auto 0;
    font-size: var(--font-size-smaller);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-secondary-45);
    margin-bottom: 0;
    align-self: flex-end;
}

.drawer__close {
    display: block;
    height: max-content;
    padding: 0;
    position: absolute;
    text-align: start;
    top: 30px;
    right: 42px;
}

.drawer__close,
.drawer__close * {
    line-height: 100%;
}

.drawer__close svg {
    fill: var(--character-light-secondary-45);
}

@media (max-width: 800px) {
    .drawer__close {
        right: 14px;
    }
}

.drawer__divider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: calc(100% + 64px);
    position: relative;
    right: 32px;
    align-self: flex-end;
}

.drawer__conf-button {
    margin: 0;
    height: var(--button-height);
    padding: var(--button-padding);
    border: var(--button-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-button);
    background: var(--primary-light-6);

    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--character-light-primary-inverse);
}
