.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: transparent;
    padding: 42px 24px;
    padding-top: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 833px) {
    .footer {
        flex-direction: column-reverse;
        padding: 0 16px 42px;
        align-items: center;
    }
}

.footer__reviews {
    display: block;
    width: 171px;
    height: 40px;
    padding: 6px 15px;

    font-size: 16px;
    text-align: center;
    line-height: 150%;
    color: var(--primary-light-6);
}

@media (max-width: 833px) {
    .footer__reviews {
        margin-top: 24px;
    }
}

.footer__download-block {
    width: 240px;
    height: 127px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
    background: var(--character-light-primary-inverse);
    border-radius: 2px;
}

@media (max-width: 833px) {
    .footer__download-block {
        width: 100%;
    }
}

.download-block__title-wrapper {
    height: 71px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 833px) {
    .download-block__title-wrapper {
        align-items: center;
    }
}

.download-block__title {
    font-size: 16px;
    line-height: 130%;
    color: var(--primary-light-6);
    padding: 0;
    margin: 0;
}

.download-block__subtitle {
    line-height: 130%;
    color: var(--character-light-secondary-45);
    padding: 0;
    margin: 0;
}

.download-block__content-wrapper {
    padding: 12px 0;
    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
    display: flex;
    flex-direction: row;
}

.download-block__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 32px;
}

.download-block__icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

@media (max-width: 1439px) {
    .download-block__icon {
        width: 12px;
        height: 12px;
    }
}

.download-block__content-title {
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
    margin: 0;
    text-wrap: nowrap;
}

.modal [class*="modal-body"] {
    padding: 64px 32px 56px;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
}

.modal [class*="anticon"] {
    display: none;
}

.modal [class*="confirm-content"] {
    margin-top: 0;
}

.modal [class*="ant-result"] {
    padding: 0;
}

.modal [class*="result-title"] {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.modal [class*="result-subtitle"] {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

@media (max-width: 833px) {
    .modal [class*="result-subtitle"] {
        padding: 0 25px;
    }
}

.modal [class*="confirm-btns"] {
    display: flex;
    justify-content: center;
}

.modal [class*="ant-btn"] {
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    padding: 4px 15px;
    width: 74px;
    height: 40px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-primary-inverse);
}
