.header {
    height: max-content;
    background-color: var(--primary-light-1);
}

.trigger {
    width: 20px;
    height: 66px;
    background-image: url(../../../../assets/img/trigger.svg);

    position: absolute;
    top: 47%;
    padding-left: 3px;
}
.header__content {
    display: grid;
    grid-template-areas:
        "pageName settings"
        "title settings";
    grid-template-rows: 33px max-content;
    padding: 16px 24px;
}

.header__page-name {
    grid-area: pageName;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.header__title {
    grid-area: title;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin: 0;
    margin-top: auto;
    margin-bottom: 5px;
    padding: 0;
}

@media (max-width: 1439px) {
    .header__title {
        font-weight: 500;
        font-size: 24px;
    }
}

.header__settings {
    grid-area: settings;

    height: 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: 15px;
}

@media (max-width: 1439px) {
    .setting__icon {
        display: none;
    }
}

.settings__line {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--character-light-title-85);
}
