.header {
    height: max-content;
    background-color: var(--primary-light-1);
}

.trigger {
    width: 20px;
    height: 66px;
    background-image: url(../../../../assets/img/trigger.svg);

    position: absolute;
    top: 47%;
    padding-left: 3px;
}

@media (max-width: 833px) {
    .trigger {
        width: 32px;
        height: 48px;
        background-image: url(../../../../assets/img/trigger360.svg);
        padding-left: 9px;
        top: 24px;
        left: 106px;
    }
}

.header__content {
    display: grid;
    grid-template-areas:
        "pageName settings"
        "title settings";
    grid-template-rows: 33px max-content;
    padding: 16px 24px;
}

@media (max-width: 833px) {
    .header__content {
        grid-template-rows: 23px max-content;
    }
}

.header__page-name {
    grid-area: pageName;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.header__title {
    grid-area: title;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin: 0;
    margin-top: auto;
    margin-bottom: 5px;
    padding: 0;
}

@media (max-width: 1439px) {
    .header__title {
        font-weight: 500;
        font-size: 24px;
    }
}

@media (max-width: 833px) {
    .header__title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 6px;
    }
}

.header__settings {
    grid-area: settings;

    height: 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: 15px;
}

@media (max-width: 1439px) {
    .settings__icon {
        display: none;
    }
}

@media (max-width: 833px) {
    .header__settings {
        margin-top: 17px;
        margin-right: 0px;
    }
}

@media (max-width: 833px) {
    .settings__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--character-light-border);
        border-radius: 100px;
        width: 32px;
        height: 32px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        background: var(--character-light-primary-inverse);
        margin-top: 0px;
        margin-right: 0px;
    }
}

.settings__line {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--character-light-title-85);
}

@media (max-width: 833px) {
    .settings__line {
        display: none;
    }
}
