.main-page[class*='ant-layout'] {
    min-height: 100vh;
    height: max-content;
    position: relative;
    background-image: url(../../assets/img/main-page-bg-light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page__container[class*='ant-layout'] {
    background: transparent;
}
