.modal__header {
    padding: 16px 12px;
}

.modal__title {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
    margin-bottom: 4px;
}

.modal__subtitle {
    height: 18px;
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
    margin-bottom: 0;
}

.modal__body {
    padding: 16px 0;
}

.modal__empty img {
    width: var(--icon-large);
    height: var(--icon-large);
}

.modal__empty [class*="empty-image"] {
    height: var(--icon-large);
    margin: 0;
    padding: 0;
}

.modal__list-wrapper {
    min-height: 52px;
}

.modal__list-wrapper li {
    height: 22px;
    padding: 1px 12px;
}

.modal__list-wrapper [class*="anticon-edit"] svg {
    fill: var(--primary-light-6);
}

.modal__list-wrapper li [class*="badge-status-text"] {
    font-size: var(--font-size);
}

.modal__list-wrapper [class*="badge-status-text"],
.modal__list-wrapper [class*="badge-not-a-wrapper"] {
    height: 18px;
}

.modal__list-wrapper li:hover {
    background: var(--character-light-background);
    cursor: pointer;
}

.modal__list-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal__divider {
    margin: 0 0 12px;
}

.modal__close {
    width: 20px;
    height: 20px;
    font-size: var(--icon-size-small);
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 12px;
    padding: 0;
}

.modal__button {
    width: 100%;
    height: var(--button-height);
    border: var(--button-border);
    border-radius: var(--border-radius);
    padding: var(--button-padding);
    box-shadow: var(--box-shadow-button);
    background: var(--primary-light-6);

    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-primary-inverse);
}

.modal__button-wrapper {
    padding-bottom: 12px;
}
