.header {
    height: max-content;
    background-color: var(--primary-light-1);
    padding: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 24px;
    padding-top: 0;
}

@media (max-width: 800px) {
    .header {
        padding: 0 24px;
        margin-top: -10px;
    }
}

.header__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin: 0;
    margin-top: auto;
    margin-bottom: 5px;
    padding: 0;
}

@media (max-width: 1439px) {
    .header__title {
        font-weight: 500;
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .header__title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.header__settings {
    width: 129px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 1439px) {
    .header__settings {
        width: 129px;
    }

    .settings__icon {
        display: none;
    }
}

@media (max-width: 800px) {
    .header__settings {
        width: 32px;
    }

    .settings__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--character-light-border);
        border-radius: 100px;
        width: 32px;
        height: 32px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        background: var(--character-light-primary-inverse);
        margin-top: -6px;
        margin-right: 0;
    }
}

.settings__line {
    line-height: 130%;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    color: var(--character-light-title-85);
}

@media (max-width: 800px) {
    .settings__line {
        display: none;
    }
}
