.page {
    height: calc(100vh - 50px);
    background: transparent;
    padding: 24px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;

    display: grid;
    grid-template-rows: auto 1fr;
}

@media (max-width: 800px) {
    .page {
        padding: 24px 16px;
    }
}

.page.no-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 42px;
}

@media (max-width: 800px) {
    .page.no-feedback {
        justify-content: flex-start;
    }
}

@media (max-width: 800px) {
    .page.no-feedback .page__buttons {
        width: 100%;
    }
}

.conf-button {
    width: 142px;
    height: 40px;
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
    padding: 4px 15px;
    margin-right: 8px;

    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-primary-inverse);
}

@media (max-width: 800px) {
    .conf-button {
        width: 100%;
        margin-bottom: 16px;
    }
}

.conf-button.no-feedback {
    margin-top: 20px;
    margin-right: 0;
}

@media (max-width: 800px) {
    .conf-button.no-feedback {
        margin-top: 48px;
    }
}

.text-button {
    width: 216px;
    height: 40px;
    padding: 4px 15px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}

@media (max-width: 800px) {
    .text-button {
        width: 100%;
        margin-bottom: 18px;
    }
}

.firstFeedback {
    width: 100%;
    height: 245px;
    padding: 56px 0;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
}

@media (max-width: 800px) {
    .firstFeedback {
        height: 314px;
        padding: 48px 32px;
    }
}

@media (max-width: 800px) {
    .modal [class*="modal-header"] {
        padding: 16px;
        padding-right: 10px;
    }
}

.firstFeedback__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-9);
    margin-bottom: 48px;
}

.firstFeedback__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-secondary-45);
}
