.joint-training {
    height: 100%;
    background: transparent;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

.joint-training__no-training-card {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: var(--button-border-auth);
    background: var(--character-light-table-header);
    border-radius: var(--border-radius);
}

.no-training-card__title {
    margin: 24px 0;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--line-height);
    text-align: center;
    color: var(--primary-light-9);
}

.no-training-card__subtitle {
    width: 80%;
    margin-bottom: 24px;
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-secondary-45);
}

.no-training-card__divider {
    margin: 0;
}

.no-training-card__buttons-wrapper {
    width: 78%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--flex-gap-small);
}

.no-training-card__buttons-wrapper>button {
    width: 50%;
    height: 32px;
}

.no-training-card__buttons-wrapper>button:first-child {
    color: var(--primary-light-6);
}

.participants-section__title {
    margin-bottom: 12px;
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: var(--line-height);
}

.participants-section__subtitle {
    margin: 0;
    color: var(--character-light-secondary-45);
}

.pals__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
}

.header__arrow-back {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--flex-gap-small);
    margin-right: 159px;
}

.header__arrow-back>span:last-child {
    margin: 0;
    font-size: 20px;
    font-weight: var(--font-weight-medium);
    color: var(--character-light-title-85);
}

.header__search {
    width: 484px;
}

.pals__cards {
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--flex-gap-small);
    margin-bottom: 16px;
}

.cards__card {
    width: 234px;
    height: 194px;
    padding: 16px 16px 8px;
    background: var(--primary-light-1);
    border-radius: var(--border-radius);
}

.card__header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
}

.card__header [class*="ant-avatar"] {
    background: var(--character-light-background);
}

.card__header img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.card__header path {
    fill: var(--character-light-title-85);
}

.card__pal-name {
    margin: 0;
    color: var(--character-light-title-85);
    line-height: var(--line-height);
}

.card__info {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap-small);
    margin-bottom: 20px;
}

.card__info p {
    margin: 0;
    font-size: var(--font-size-smaller);
    line-height: var(--line-height);
}

.card__labels {
    color: var(--character-light-secondary-45);
}

.card__data {
    font-weight: var(--font-weight-medium);
    color: var(--primary-light-6);
}

.card__labels,
.card__data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__conf-button {
    width: 100%;
    height: 28px;
    padding: var(--button-padding);
    border: var(--button-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-button);
    background: var(--primary-light-6);

    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--character-light-primary-inverse);
}

.pals__pagination {
    margin-top: auto;
    margin-bottom: 18px;
}

.joint-training .pals__pagination>[class*="pagination"] {
    height: 20px;
    line-height: 18px;
}

.pals__pagination [class*="item-active"] {
    border-color: var(--primary-light-6);
}

.pals__pagination [class*="item-active"]>a {
    color: var(--primary-light-6);
}
