.modal {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    width: 264px;
    height: max-content;
    box-shadow: var(--box-shadow);
    background: var(--character-light-primary-inverse);
    z-index: 2;
    padding: 16px 12px 12px;

    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

.modal__title {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
    margin-bottom: 4px;
}

.modal__subtitle {
    line-height: var(--line-height);
    color: var(--character-light-secondary-45);
    margin-bottom: 0;
}

.modal__body {
    padding: 16px 0;
}

.modal__empty img {
    width: var(--icon-large);
    height: var(--icon-large);
}

.modal__empty [class*="empty-image"] {
    height: 64px;
    margin: 0;
    padding: 16px 0;
}

.modal__divider {
    margin: 0 0 12px;
}

.modal__close {
    width: 20px;
    height: 20px;
    font-size: var(--icon-size-small);
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 12px;
}

.modal__button {
    width: 100%;
    height: var(--button-height);
    border: var(--button-border);
    border-radius: var(--border-radius);
    padding: var(--button-padding);
    box-shadow: var(--box-shadow-button);
    background: var(--primary-light-6);

    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-primary-inverse);
}
