.achievements {
    background: transparent;

    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

.achievements__filters-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
}

.achievements__filters-section p {
    margin: 0;
}

.filters-section__filters {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.filters-section__filter {
    width: max-content;
    height: 18px;
    padding: 0 8px;
    border: var(--button-border-auth);
    border-radius: var(--border-radius);

    font-size: var(--font-size-smaller);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
}

.filters-section__filter[class*="checked"] {
    background: var(--primary-light-1);
    color: var(--primary-light-6);
}

.filters-section__filter-close {
    margin-left: 3px;
    vertical-align: middle;
}

.filters-section__filter-close svg {
    width: 8px;
    height: 8px;
    fill: var(--neutral-gray-7);
}

.achievements__not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
}

.not-found__image {
    width: 200px;
    height: 175px;
    background: var(--not-found-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 24px;
}

.not-found__title {
    font-weight: 500;
    font-size: var(--font-size-large);
    line-height: var(--line-height);
    text-align: center;
    color: var(--character-light-title-85);
}
